html { 
    min-height:100%;
    position:relative;    
}

body{
  background-color:#353839;
}

.container{
  margin-bottom:8rem;
}

.card-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-img-bottom{
    width: 12rem;
    height: 15rem;
    padding: 0.5rem;
}

@media only screen and (max-width: 500px) {
    .card-img-bottom{
        width: 10rem;
    }
}

@media only screen and (max-width: 410px) {
    .card-img-bottom{
        width: 16rem;
    }
}

@media only screen and (max-width: 300px) {
    .card-img-bottom{
        width: 13rem;
    }
}

img {
    width: 100%;
    height:100%
}

.content {
    display: none;
    position: relative;
    min-height: 200px;
    width: 100%;
    border: 1px solid lightgrey;
    padding: 20px;
}


.content-display {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.content div {
    margin: 10px;
    width: 15rem;
    height: 13rem;
}


#content-close {
    cursor: pointer;
    position: absolute;
    font-size: 1.3rem;
    font-weight: bold;
    top: 20px;
    padding: 0 0.5rem;
    /* width: 35px;; */
    background-color: #de0124;
    color: white;
    border: 1px solid lightgrey;
    border-radius: 31%;
    left: 20px;
}

iframe {
    width: 100%;
    height:100%
}


.btn {
    color: #fff;
    background-color: rgb(113 193 233);
    border-color: rgb(113 193 233);
    outline: none;
    min-height: 38px;
    font-weight: 400;
    width: 10rem;
    text-align: center;
    cursor: pointer;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}

#movies-searchable{
    margin-top: 1rem;
}

.d-inline-block {
    width:13rem;
}

.navbar{
  background-color:#6c7a7f !important;
}

.navbar-light .navbar-nav .nav-item .nav-link {
    font-weight:bold;
    color: rgb(113 193 233);
}

.card{
  background-color:#6c7a7f;
  margin-bottom: 2rem;
}

.navbar-light .navbar-toggler {
    color: rgb(104 184 229);
    border:none;
}

button:focus {
    outline: none;
}

.navbar p{
  color: rgb(113 193 233);
  font-weight:500;
  width: 100%;
  text-align:center;
}

p{
  color: rgb(113 193 233);
  font-weight:bold;
}

.form-group{
  margin-top: 1rem;
  color: rgb(113 193 233);
}

.card h2{
  color: rgb(254 178 0);
}

